html, body, .grid-container {
    height: 100%;
    margin: 0;
}

.grid-container * {
    border: 1px solid red;
    position: relative;
}

.grid-container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.3fr 1.3fr 1fr;
    grid-template-areas: "header header header Preferences" "CardSelector CardSelector CardSelector Participants" "CardsAvailable CardsAvailable CardsAvailable AdminPanel" "Average Notification Other AdminPanel";
}

.header {
    grid-area: header;
}

.preferences {
    grid-area: Preferences;
}

.card-selector {
    grid-area: CardSelector;
}

.cards-available {
    grid-area: CardsAvailable;
}

.average-info {
    grid-area: Average;
}

.notifications {
    grid-area: Notification;
}

.admin-panel {
    grid-area: AdminPanel;
}

.participants {
    grid-area: Participants;
}

.other {
    grid-area: Other;
}